body{
    background-color: #FFFACD;
    width: 1200px;
    height: 1200px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: #DC143C;
    height: 1200px;
    width: 1700px;
    position: relative;
    left: 45px;
}

.minon{
    position: relative;
    top: 100px;
    background-color: #fff;
    height: 410px;
    width: 350px;
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.minon-more{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    background-color: #3498db;
    color: aliceblue;
    position: relative;
    right: 5px;

}

.minon-more:hover{
    background-color: #00008B;
}

.text{
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.img-1{
    position: absolute;
    bottom: 350px;
    right: 300px;
}

.img-2{
    position: absolute;
    right: 300px;
    
}

.img-3{
    position: absolute;
    left: 310px;
    bottom: 350px;

}

